@import '../colors';

h1, p {
  color: $color-font-primary;
}

.crypto-container {
  display: flex;
  justify-content: center;
}

.crypto-row {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #2e2e2e;
  min-width: 650px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.crypto-row:hover {
  background: $color-table-row;
}

.crypto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 24px;
}

.crypto-data-field {
  margin-left: 1rem;
  margin-right: 1rem;
}
.crypto-img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.crypto-h1 {
  font-size: 16px;
  display: none;
}

.crypto-symbol {
  text-transform: uppercase;
  margin-left: 1rem;
}

.crypto-data {
  display: flex;
  text-align: right;
  justify-content: space-between;
}

.red {
  color: $color-red;
}

.green {
  color: $color-green;
}

.crypto-list-header {
  cursor: auto;
  background-color: $color-table-header;
  padding-left: 1rem;
  padding-right: 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  &:hover {
    background-color: $color-table-header;
  }
  p {
    color: $color-font-secondary;
    font-weight: bold;
  }
}

@media screen and (min-width: 1280px){
  .crypto-h1 {
    display: block;
  }
}
