@import '../colors';

.crypto-details {
  width: 50%;
  position: absolute;
  transition: left 1s ease, opacity .1ms ease;

  &.hide {
    visibility: hidden;
    left: 100vw;
    opacity: 0;
  }
  &.show {
    visibility: visible;
    left: calc(50vw/2);
    opacity: 1;
  }
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 3rem;
}
.data-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;

  h4 {
    margin-bottom: 0.5rem;
    color: $color-font-tertiary;
  }
  p {
    margin-bottom: 2rem;
    color: $color-font-secondary;
  }
}
.crypto-details-header-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 3rem;
}
.crypto-details-header,
.crypto-details-subheader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.crypto-name {
  display: flex;
  align-items: center;
  img {
    margin-right: 1rem;
  }
}
.crypto-details-value {
  display: flex;
  align-items: flex-end;
  h1 {
    span {
      color: $color-font-secondary;
    }
  }
  p {
    margin-left: 1rem;
  }
}
.crypto-percentage {
  &.red {
    color: $color-red;
  }
  &.green {
    color: $color-green;
  }
}

.crypto-details-image {
  margin-bottom: 1rem;
}

.crypto-details-name,
.crypto-details-symbol {
  margin-bottom: 1rem;
}
.crypto-details-name {
  display: block;
}
.crypto-details-symbol {
  display: none;
}

.MuiSelect-select {
  background: $color-currency-select !important;
  border-radius: 0.3rem !important;
  width: 3rem !important;
  padding: 0.5rem !important;

  &:focus {
    background: $color-green !important;
  }
}
.MuiSelect-icon,
.MuiSelect-select.MuiSelect-select {
  color: $color-font-primary !important;
}
.MuiPaper-root {
  color: $color-font-primary !important;
}
.MuiInput-underline:before,
.MuiInput-underline:after {
  display: none !important;
}
.MuiListItem-root.Mui-selected,
.MuiListItem-root.Mui-selected:hover {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.MuiMenu-list {
  background-color: $color-currency-select;
}
.MuiListItem-button:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.2) !important;
}

@media screen and (max-width: 1024px) {
  .crypto-details-name {
    display: none;
  }
  .crypto-details-symbol {
    display: block;
  }
  .crypto-details {
    top: 2rem;
    width: 90vw;
    position: relative;
    padding-bottom: 2rem;
    &.show {
      display: block;
      visibility: visible;
      left: auto;
      opacity: 1;
    }
    &.hide {
      display: none;
    }
  }
}
