.crypto-details {
  width: 50%;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.data-container {
  display: flex;
  justify-content: space-between;
  width: 80%;

  h4 {
    margin-bottom: 0.5rem;
  }
  p {
    margin-bottom: 2rem;
  }
}
.crypto-details-header {
  display: flex;
  align-items: center;
  img {
    margin-right: 1rem;
  }
}
.crypto-details-value {
  display: flex;
  align-items: flex-end;
  p {
    margin-left: 1rem;
  }
}
.crypto-percentage {
  &.red {
    color: #f00606;
  }
  &.green {
    color: green;
  }
}

.crypto-details-image {
  margin-bottom: 1rem;
}

.crypto-details-name {
  margin-bottom: 1rem;
}
