@import '../colors';

h1, p {
  color: $color-font-primary;
}

.crypto-container {
  display: flex;
  justify-content: center;
}

.crypto-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #2e2e2e;
}

.crypto-row:hover {
  background: $color-table-row;
}

.crypto {
  display: flex;
  align-items: center;
  padding-right: 24px;
}

.crypto-data-field {
  margin-left: 1rem;
  margin-right: 1rem;
}
.crypto-img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.crypto-h1 {
  font-size: 16px;
}

.crypto-symbol {
  text-transform: uppercase;
}

.crypto-data {
  display: flex;
  text-align: right;
  justify-content: space-between;
}

//.crypto-price {
//  width: 110px;
//}
//
//.crypto-volume {
//  width: 155px;
//}

//.crypto-marketcap {
//  width: 230px;
//}

//.crypto-percent {
//  width: 100px;
//}

.red {
  color: $color-red;
}

.green {
  color: $color-green;
}

@media screen and (max-width: 1225px){
  .crypto-h1 {
    display: none;
  }
}
