$color-background: #101012;
$color-table-row: #171718;

$color-font-primary: #FFFFFF;
$color-font-secondary: #CCCCCC;
$color-font-tertiary: #757575;
$color-font-inactive: #ffffff99;

$color-currency-select: darkgreen;

$color-green: green;
$color-red: red;

$color-action: #8e1d27;
$color-hover: #b82633;
$color-inactive: #ffffff50;
